form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-item {
    margin-top: 30%;
}

.btn-send {
    margin:0 auto;
    margin-top: 10px;
    display:block;
    padding: 0px 40px
}
