ion-content {
    --ion-background-color: linear-gradient(#fe8c00,#f83600);
}

ion-item {
    --ion-background-color: transparent!important;
}

ion-item ion-icon {
    margin-right: 3%;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

.padding {
    padding: 5%;
}

.logo {
    height: 30%;
}

.logo ion-icon {
    position: absolute;
    font-size: 9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}