<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <button mat-button [matMenuTriggerFor]="menu">
        <ion-icon class="menu-icon"slot="start" name="menu"></ion-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Paramètres</button>
        <button mat-menu-item (click)="this.auth.logout()">Se déconnecté</button>
      </mat-menu>
      Achats
    </ion-title>
    <ion-button (click)="presentAlertModal()" color="danger" slot="end" class="alert-button">
      <ion-icon name="mail" style="margin-right: 4px;"></ion-icon>Alerte
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


  <div *ngIf="purchases" style="margin-bottom: 80px;">
    <ion-card *ngFor="let p of purchases">
      <mat-grid-list cols="2" rowHeight="4:1" style="color: black;">
        <mat-grid-tile color="dark">
          <h3>Type: {{ p.gas_type }} </h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>Montant: {{ p.price}} TN</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Date: {{ p.purchase_date |  date:'dd/MM/yyyy'}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Heure: {{ p.purchase_date |  date:'HH:mm'}}</p>
        </mat-grid-tile>
      </mat-grid-list>
    </ion-card>


    <ion-infinite-scroll threshold="5%" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>