<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations Vehicule
    </ion-title>
    <ion-button (click)="presentAlertModal()" color="danger" slot="end" class="alert-button">
      <ion-icon name="mail" style="margin-right: 4px;"></ion-icon>
      Alerte
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" name="newspaper-outline"></ion-icon>
      </ng-template>
      <div class="padding">
        <ion-item>
          <h2>Matricule: {{car.number}}</h2>
        </ion-item>
        <ion-item>
          <h2>Modele: {{car.model}}</h2>
        </ion-item>
        <ion-item>
          <h2>N° Carte Grise: {{car.carte_grise}}</h2>
        </ion-item>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" name="construct-outline"></ion-icon>
      </ng-template>
      <div class="padding">
        <ion-item>
          <h2>AirBag: <span [ngStyle]="{'color': car.airbag? 'green' : 'red'}">{{car.airbag ? 'Oui' : 'Non' }}</span>
          </h2>
        </ion-item>
        <ion-item>
          <h2>Inspection: {{car.last_inspection_date | date:'dd/MM/yyyy'}}</h2>
        </ion-item>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" src="assets/icon/tyre.svg"></ion-icon>
      </ng-template>
      <div class="padding">
        <h1 style="text-align: center;">Date de changement des pneus</h1>
        <mat-grid-list cols="2" rowHeight="3:1" style="color: black;">
          <mat-grid-tile style=" border: 1px solid black;">
            <h3>Pneu avant gauche</h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>{{ car.fl_wheel_change_date | date: 'dd/MM/yyyy' }} </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>Pneu avant droit</h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>{{ car.fr_wheel_change_date | date: 'dd/MM/yyyy' }} </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>Pneu arriere gauche</h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3> {{ car.bl_wheel_change_date | date: 'dd/MM/yyyy' }} </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>Pneu arriere droit</h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>{{ car.br_wheel_change_date | date: 'dd/MM/yyyy' }} </h3>
          </mat-grid-tile>
        </mat-grid-list>

      </div>
    </mat-tab>
  </mat-tab-group>





</ion-content>