<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Modifier votre mot de passe</ion-title>
    </ion-toolbar>
</ion-header>



<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Entrer ancien mot de passe</ng-template>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Entrer nouveau mot de passe</ng-template>
            <mat-form-field>
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" formControlName="newPassword" required>
            </mat-form-field>
            <ng-template matStepLabel>Entrer nouveau mot de passe</ng-template>
            <mat-form-field>
                <mat-label>Valider mot de passe</mat-label>
                <input matInput type="password" formControlName="confirmNewPassword" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Précedent</button>
                <button mat-button (click)="stepper.reset()">Remise à zero</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>

<ion-button class="btn-send" (click)="send()" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid">Envoyer</ion-button>