

<form [formGroup]="form">

    <mat-form-field style="width: 100%;">
        <mat-label>Prix</mat-label>
        <input matInput formControlName="price">
    </mat-form-field>



    <mat-form-field>
        <mat-label>Type</mat-label>
        <select matNativeControl required formControlName="gasType">
            <option value="diesel">Diesel</option>
            <option value="sans plomb">Sans Plomb</option>
        </select>
    </mat-form-field>

    <ion-button (click)="send()" [disabled]="!form.valid">Ajouter</ion-button>
</form>